#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 20px;
}

.image-gallery-container {
  object-fit: contain;
}

.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
}

.controls label {
  font-weight: bold;
}

.controls select,
.controls button {
  padding: 5px 10px;
  font-size: 16px;
}

.canvases {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.video-container,
.detection-container {
  flex: 1;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container video,
.video-container canvas,
.detection-container canvas {
  width: 320px;
  height: 240px;
  background-color: #000;
}

#detection-video-canva {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 0;
  margin-bottom: 7px;
  z-index: 100;
}

.log {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 400px;
  width: 700px;
}

.galery .log h2 {
  margin-top: 0;
}

.galery {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 400px;
  width: 700px;
}

#log-console {
  font-family: monospace;
  white-space: pre-wrap;
  flex: 1;
  overflow-y: scroll;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
}

#log-console table {
  width: 100%;
  font-size: 16px;
  background-color: white;
  border-radius: 3px;
  border-collapse: collapse;
}


#log-console thead th {
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #1b1e24;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-sizing: border-box;
}

#log-console tbody tr td {
  border: gray 1px solid;
}

#table-date {
  width: 150px;
}

#table-occurence {
  width: 150px;
}

.log-galerie {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.screen-button {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.screen-button {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
  margin-bottom: 19px;
}

.screen-button:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.screen-button:active {
  opacity: 0.5;
}

.last-screens {
  font-family: monospace;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 10px;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.img_scren {
  width: 100%;
}
